<div class="form-group row">
  <div class="col-3">
    <input [(ngModel)]="depositModel.amount" name="amount" class="form-control" type="number" placeholder="Amount">
  </div>
  <div class="col-7">
    <input [(ngModel)]="depositModel.description" name="description" class="form-control" type="text" placeholder="Description">
  </div>
  <div class="col-sm-2">
    <button (click)="handleDeposit()" class="btn btn-primary">DEPOSITA</button>
  </div>
</div>

<div class="form-group row">
  <div class="col-3">
    <input [(ngModel)]="withdrawModel.amount" name="amount" class="form-control" type="number" placeholder="Amount">
  </div>
  <div class="col-7">
    <input [(ngModel)]="withdrawModel.description" name="description" class="form-control" type="text" placeholder="Description">
  </div>
  <div class="col-sm-2">
    <button (click)="handleWithdraw()" class="btn btn-primary">PRELEVA</button>
  </div>
</div>
