<p>
  Saldo:
  <span class="text-lg">{{balance$ | async | currency:'EUR'}}</span>
</p>

<div class="table">
  <thead>
    <th>Amount</th>
    <th>Description</th>
    <th>Date</th>
  </thead>
  <tbody>
    <tr *ngFor="let operation of operations">
      <td class="{{operation.type === 'DEPOSIT' ? 'text-success' : 'text-danger'}}" >
        {{operation.amount | currency:'EUR':true}}
      </td>
      <td>{{operation.description}}</td>
      <td>{{operation.date}}</td>
    </tr>
  </tbody>
</div>
